<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FEDN Travel App</title>
    </head>
    <body>
        <header>Header</header>
        <main>
            <form>
                <label for="town">Enter Location Here</label>
                <input id="town" type="text" name="location" value="" placeholder="City">
                <input id="town-submit" type="submit" name="" value="Submit">
            </form>
            <div class="calendar">
                <div class="months">
                    <div class="calendar-month calendar-month-previous"></div>
                    <div class="calendar-month calendar-month-current"></div>
                    <div class="calendar-month calendar-month-next"></div>
                </div>
                <ul class="calendar-days"></ul>
            </div>
        </main>
        <footer>footer</footer>
    </body>
</html>