<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FEDN Travel App</title>
    </head>
    <body>
        <header>Header</header>
        <main>
            <form>
                <label for="town">Enter Location Here</label>
                <input id="town" type="text" name="location" value="" placeholder="City">
                <input id="date-0" type="hidden" name="date-0">
                <input id="date-1" type="hidden" name="date-1">
                <input id="town-submit" type="submit" name="" value="Submit">
            </form>
            <div id="calendar-0" class="calendar">
                <div class="months">
                    <div class="calendar-month calendar-month-previous-0"></div>
                    <div class="calendar-month calendar-month-current-0"></div>
                    <div class="calendar-month calendar-month-next-0"></div>
                </div>
                <ul class="calendar-days-0"></ul>
            </div>
            <div id="calendar-1" class="calendar">
                <div class="months">
                    <div class="calendar-month calendar-month-previous-1"></div>
                    <div class="calendar-month calendar-month-current-1"></div>
                    <div class="calendar-month calendar-month-next-1"></div>
                </div>
                <ul class="calendar-days-1"></ul>
            </div>
        </main>
        <footer>footer</footer>
    </body>
</html>