$calendar-size: 3rem;

header {
    color: red;
}

.calendar {
    width: calc(#{$calendar-size} * 7);
    height: auto;

    .months {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid red;
    }

    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        height: calc(#{$calendar-size} * 7);
        border: 1px solid red;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-content: flex-start;
    
        li {
            height: $calendar-size;
            width: $calendar-size;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;

            &.sibling-month {
                color: grey;
            }
    
            &.calendar-day:hover {
                background-color: blue;
            }
        }
    }
}

